@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Delete", "Role", FormMethod.Post, new { @role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="delacccont">
        <div class="delaccgrp">
            <div class="delacclbl" style="text-align:center;">Are you sure?</div>
        </div>
        <div class="delaccgrp">
            <input type="hidden" value="@Model.Name" name="rolename" />
            <input type="submit" value="Delete Comment" class="btn btn-default delaccbtn" />
        </div>
    </div>
}