@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    PJATK<br />
    Gdansk, ul.Brzegi 55<br />
    <abbr title="Phone">P:</abbr>
    +48 788 323 115
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:s12882@pjatk.edu.pl">s12882@pjatk.edu.pl</a><br />
    <strong>Marketing:</strong> <a href="mailto:s12882@pjatk.edu.pl">s12882@pjatk.edu.pl</a>
</address>